body{
    background-color: peru;
    color: black;
   
}
.h1GitHub{
    color: pink;
    
}
.image{
    background-image: url("111.jpg");
}
h3{
    color: purple;
}
.imageStudent{
    border: 3px;
    border-color: black;
}
